*{
	box-sizing: border-box;
}
div.container{
	width: 70vw;
	margin: 0 auto;
}
h1 {
	font-size: 36px;
	color: #e6007e;
	font-family: 'Lobster Two', cursive;
}
a{
	text-decoration: none;
	color: #e6007e;
	font-family: 'Signika', sans-serif;
	text-transform: uppercase;
}
i{
	color: #e6007e;
}
i.hover:hover{
	color: rgba(76,74,72 ,1);
}
a.a-nav{
	padding-left: 5px;
	padding-right: 5px;
}
a.a-nav:hover{
	color: rgba(76,74,72 ,1);
}
.border-input{
	border: 1px solid #b3b3b3;
	box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(234,0,94 ,1);
}
header{
	display: flex;
	width: 100%;
	margin: 30px auto 0 auto;
	flex-direction: column;
	border-bottom: 1px solid #b3b3b3;
	/*box-shadow: 0px 3px 3px 0px rgba(122,121,122,1);*/
}
header div.header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 10px;
}
nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}


body{
background-color: white;
}

.pregunta{
  background-color: #e8e2e7;
  border-radius: 2px;
  padding: 10px;
}
  .pregunta:hover{
  	color: rgba(76,74,72 ,1);


}

.respuesta{
  margin: 10px;
}

h2 {
  font-size: 40px;
  color: #e6007e;
  font-family: 'Lobster Two', cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}


h3{
  font-size: 25px;
  color:#5f6268;
  font-family: 'Lobster Two', cursive;
  align-items: center;

}

p {
  font-family:Century Gothic;
  font-size:14px;
  color:#595959;
  font-weight:400;
  padding:5px 10px;


}

ul{
  font-family:Century Gothic;
  font-size:14px;
  color:#595959;
   padding:5px 10px;
}
